body {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

.card {
  width: 40%;
  background-color: #313d50;
  border-radius: 10px;
  color: white;
  padding: 4rem;
  text-align: center;
  transition: 1s ease all;
}
.card:hover {
  transform: scale(1.05);
}
.headline {
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  letter-spacing: 0.7rem;
}
.description {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 1.2rem;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1.4rem;
}
.icons a {
  margin: 0px 12px;
  transition: 0.5s ease all;
}
.icons a:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 610px) {
  .card {
    width: 50%;
    padding: 4rem;
  }
  .headline {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    letter-spacing: 0.3rem;
  }
  .description {
   
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    
  }
  .icons a {
  width: 35px;
    margin: 0 1rem;
    transition: 0.5s ease all;
  }
}
